<footer class="page-footer">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2018 Copyright: T de A
    </div>
    <!-- Copyright -->
</footer>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>