<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Educación continua</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="" width="30" height="30"
                    class="d-inline-block align-top" alt="">
                Educación continua
            </a>
        </nav>
    </header>
    </div>