{{>header}}
<div class="container">
    <form action="" method="post">
        <div class="form-gruop">
            <div>
                <label for="identificacion">Identificación</label>
                <input type="number" class="form-control" name="identificacion" required>
            </div>
            <div>
                <label for="idCurso">Cursos</label>
                <select name="idCurso" class="custom-select">
                    <option selected value="selecione">Selecione curso</option>
                    {{#each cursos as |curso|}}
                        <option value="{{curso.id}}">{{curso.nombre}}</option>
                    {{/each}}
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Inscribirse</button>
        </div>
    </form>
</div>

{{>footer}}