{{>header}}
    <div class="container">
        {{#if existe}}
            <div class="alert alert-danger" role="alert">
                Usuario no existe
            </div>
        {{/if}}
        <div class="row justify-content-center">
            <div class= "col-sm-7 shadow-lg p-3 mb-5 bg-white rounded">
                <h3>Login</h3>
                <form action="" method="post" class="regForm">
                    <label for="identificacion">Identificación</label>
                    <input type="number" class="form-control" name="identificacion" required>
                    <br>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <a href="/registro" class="btn btn-primary">Registrarse</a>
                </form>
            </div>
        </div>
    </div>
{{>footer}}