{{>header}}
<h2>Registro de Curso</h2>
<form class="regForm"action="" method="get">
	<p class="pclass">
		<label for="idlabel">Id               </label><br>
		<input id= "idlabel" type="number" name="id" required>
	</p>	
	<p class="pclass">
		<label for="nomlabel">Nombre del curso</label>
		<input id="nomlabel"type="text" name="nombre" required>
	</p>
	<p class="pclass">
		<label for="deslabel">Descripcion     </label>
		<input id="deslabel"type="text" name="descripcion" required>
	</p>
	<p class="pclass">
		<label for="vallabel">Valor           </label><br>
		<input id="vallabel"type="number" name="valor" required>
	</p>
	<p class="pclass">
		<label for="modlabel">Modalidad       </label><br>
		<input id="modlabel"type="text" name="modalidad" required>
	</p>
	<p class="pclass">
		<label for="intlabel">Intensidad      </label>
		<input id="intlabel"type="number" name="intensidad" required>
	</p>
	<p class="pclass">
		<label for="estlabel">Estado           </label><br>
		<input id="estlabel"type="text" name="estado" required>
	</p>
	<button>Registrar</button>
</form>
{{>footer}}