{{>header}}

<div class="container">

	<div class="row justify-content-center">
		<h2>Registro de Usuario</h2>
	</div>
	
	{{#if datos}}
        {{#if creado}}
            <div class="alert alert-success" role="alert">
                El usuario con número de identificación {{usuario.identificacion}}
                ha sido creado satisfactoriamente
            </div>
        {{else}}
            <div class="alert alert-danger" role="alert">
                El usuario con número de identificación {{usuario.identificacion}} 
                ya ha sido creado, por favor ingrese otra identificación.
            </div>
        {{/if}}
    {{/if}}
	<div class="row justify-content-center">
		<div class= "col-sm-7 shadow-lg p-3 mb-5 bg-white rounded">
			<form class="regForm" method="POST">
				<div class="form-group">
					<label for="idlabel">Identificación</label>
					<input id= "idlabel" type="number" name="identificacion" class="form-control" placeholder="Ingrese su número de identificación" required>
				</div>				
				<div class="form-group">
					<label for="nomlabel">Nombre</label>
					<input id="nomlabel"type="text" name="nombre" class="form-control" placeholder="Ingrese su nombre" required>
				</div>				
				<div class="form-group">
					<label for="emllabel">Correo electrónico</label>
					<input id="emllabel"type="email" name="correo" class="form-control" placeholder="Ingrese su email"required>
				</div>			
				<div class="form-group">
					<label for="tellabel">Teléfono</label>
					<input id="tellabel"type="number" name="telefono" class="form-control" placeholder="Ingrese su número de telefono" required>
				</div>
				<div class="row justify-content-center">
					<button type="submit" class="btn btn-primary ">Registrar</button>
				</div>		
			</form>
		</div>
	</div>
</div>

{{>footer}}