{{>header}}
<h2>Registro de Usuario</h2>
<form class="regForm"action="" method="get">
	<p class="pclass">
		<label for="idlabel">Identificación</label>
		<input id= "idlabel" type="number" name="identificacion" required>
	</p>	
	<p class="pclass">
		<label for="">Nombre</label>
		<input id="nomlabel"type="text" name="nombre" required>
	</p>
	<p class="pclass">
		<label for="emllabel">Correo electrónico</label>
		<input id="emllabel"type="email" name="correo" required>
	</p>
	<p class="pclass">
		<label for="tellabel">Teléfono</label>
		<input id="tellabel"type="number" name="telefono" required>
	</p>
	<button>Registrar</button>
</form>
{{>footer}}