{{>header}}
<h2>Registro de Curso</h2>
<form class="regForm"action="" method="get">
	<p class="pclass">
		<label for="idlabel">Id               </label><br>
		<input id= "idlabel" type="number" name="id" required>
	</p>	
	<p class="pclass">
		<label for="nomlabel">Nombre del curso</label>
		<input id="nomlabel"type="text" name="nombre" required>
	</p>
	<p class="pclass">
		<label for="deslabel">Descripcion     </label>
		<input id="deslabel"type="text" name="descripcion" required>
	</p>
	<p class="pclass">
		<label for="vallabel">Valor           </label><br>
		<input id="vallabel"type="number" name="valor" required>
	</p>
	<label>Seleccionar modalidad :
	    <select class="pclass" id="modlabel" name="modalidad" required>
	      <option value="presencial">Presencial</option>
	      <option value="virtual">Virtual</option>
	    </select>
	 </label>
	<p class="pclass">
		<label for="intlabel">Intensidad      </label>
		<input id="intlabel"type="number" name="intensidad" required>
	</p>
	<button>Registrar</button>
</form>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="alert-danger" role="alert">
				<button class="close" data-dismiss="alert">
					&times;
				</button>
				<strong>Ya existe un curso con esa ID !! por favor cambiarla</strong>
			</div>
		</div>
	</div>
</div>	
{{>footer}}

