{{>header}}
	<div class="container">
		<h2>{{curso.nombre}}</h2>
		{{#if adscrito}}
			{{#if docente}}
				<a href="/curso/id:{{curso.id}}/edit" class="btn btn-success">Agregar Entrada</a>
			{{/if}}
			{{listarContenido lista}}
		{{else}}
			<div class="row justify-content-center m-3 alert alert-warning">
				Lo sentimos, usted no está adscrito a este curso 
			<div>
		{{/if}}
	</div>
{{>footer}}