{{>header}}
<div class="container">
  {{#if aspirante}}
    {{{listarCursosInteresado cursos rol}}}
  {{/if}}
  {{#if coordinador}}
    {{{listarCursosCoordinador cursos}}}
  {{/if}}
  {{#if docente}}
    {{{listarCursosDocente cursos}}}
  {{/if}}
</div>

{{>footer}}
